*,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-backgorund: #131219;
  --color-backgorund-dark-gray: #18171e;
  --background-code: #181a1f;
  --color-code: #AAB1C0;
  --color-sub-title: #696969;
  --purple: #9156ec;
  --gray: #b4b4b4;
}

body {
  background-color: var(--color-backgorund);
}

#__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: .5rem 0 4rem 0;
  width: 85%;
}

h2,
h3,
h4,
p {
  color: var(--gray);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: .9rem;
}

h4 {
  font-size: 1.6rem;
  margin: 4rem 0 2rem;
}

h5 {
  font-size: 1.25rem;
  margin-top: 2rem;
}

ul {
  list-style: none;
}

a {
  color: var(--gray);
  text-decoration: none;
}

div[class="container-code"] {
  padding: .7rem 1rem;
  background-color: var(--background-code);
  margin: 2rem 0;
}

div[class="container-code"] code {
  color: var(--color-code);
  font-size: .8rem;
}

input {
  background-color: var(--color-backgorund-dark-gray);
  border: none;
  padding: 15px;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(44, 43, 43);
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(19, 19, 19);
}

iframe {
  width: 100%;
}

@media(min-width: 767px) {
  div[class="container-code"] code {
    font-size: 1rem;
  }
}

@media(min-width: 1023px) {
  h3 {
    font-size: 1rem;
  }
  
  div[class="container-code"] {
    max-width: 70%;
  }
  iframe {
    max-width: 72.5%;
  }
}

@media (min-width: 1600px) {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
  }
}