.bigger_article,
.average_article {
  width: 95%;
  transition: all .2s;
  margin: 3rem 0;
}

.bigger_article h5,
.average_article h5 {
  margin: 1.2rem 0 2rem;
  height: max-content;
}

.article__date_author {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-size: .8rem;

}

@media (min-width: 767px) {
  .bigger_article {
    width: 47%;
  }

  .average_article {
    width: 47%;
  }

  .bigger_article h5,
  .average_article h5 {
    height: 80px;
  }
}

@media (min-width: 1023px) {
  .average_article {
    width: 30%;
  }
}