.bigger_article{
  background-color: #312e2e;
  width: 95%;
  height: 300px;
  margin: 15px 0;
  border-radius: 20px;
  transition: all .2s;
}

@media (min-width: 767px) {
  .bigger_article {
    width: 48%;
  }
}

@media (min-width: 1023px) {
  .bigger_article {
    width: 49%;
    height: 450px;
  }
}
