.header__nav__btn_mobile {
  display: none;
  font-size: 1.4rem;
}

.header__nav__btn_mobile span {
  width: 35px;
  height: 1px;
  background-color: white;
  display: block;
  content: "";
  margin-top: 0.5rem;
}

.header__nav__btn_mobile span::after {
  width: 35px;
  height: 1px;
  background-color: white;
  display: block;
  content: "";
}

.header__nav__btn_mobile span::before {
  width: 3px;
  height: 1px;
  background-color: white;
  display: block;
  content: "";
}

@media (max-width: 767px) {
  .header__nav__btn_mobile {
    display: block;
  }
}