.introHome {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 1rem;
    gap: 50px;
    position: relative;
}

.introHome h1 {
    font-size: 4rem;
    text-align: center;
}

.intro_home__programmer {
    position: absolute;
    left: -310px;
    bottom: -95px;
    display: none;
}

.introHome p {
    font-size: .9rem;
    width: 95%;
    text-align: center;
}

@media(min-width: 767px) {
    .introHome h1 {
        font-size: 5rem;
    }

    .introHome p {
        font-size: 1.1rem;
        width: 55%;
        position: relative;
        right: -20px;
    }

    .intro_home__programmer {
        display: block;
    }
}

@media(min-width: 1023px) {
    .introHome p {
        width: 70%;
        right: 0;
    }
}

@media(min-width: 1200px) {
    .intro_home__programmer {
        left: -400px;
    }
}
