.languages {
    width: 100%;
    margin: 4rem 0 2rem;
}

.languages__title_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.languages__title_link__title {
    font-size: 1.2rem;
}

.languages__content_languages ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.languages__content_languages__language {
    background-color: var(--color-backgorund-dark-gray);
    color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}


.languages__content_languages ul .languages__content_languages__language:nth-child(1):hover {
    background-color: #ffa600d3;
}

.languages__content_languages ul .languages__content_languages__language:nth-child(2):hover {
    background-color: #ebc22ece;
}

.languages__content_languages ul .languages__content_languages__language:nth-child(3):hover {
    background-color: #46c9f1c4;
}

.languages__content_languages ul .languages__content_languages__language:nth-child(4):hover {
    background-color: #621F74;
}

@media(min-width: 767px) {
    .languages__content_languages ul{
        flex-direction: row;
        justify-content: space-between;
    }

    .languages__content_languages__language {
        width: 23%;
    }
}