.article {
  transition: all .5s;
  background-color: #18171C;
  padding: 0 2rem 2rem;
}

.article:hover {
  transform: translateX(3%);
}

.article h5 {
  height: max-content;
  margin-bottom: 1.5rem;
}

.article__date_author {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-size: .8rem;
}

@media (min-width: 767px) {
  .article {
    width: 35%;
  }
}