.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.portfolio__text_about {
    width: 100%;
}

.portfolio__text_about__title {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.portfolio__projects {
    width: 100%;
}

.portfolio__projects ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.portfolio__projects ul li {
    background-color: var(--color-backgorund-dark-gray);
    width: 31%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.portfolio__projects ul li:nth-child(2),
.portfolio__projects ul li:nth-child(5) {
    margin-top: 2.5rem;
}

.portfolio__projects__img {
    transform: scale(5);
    transition: all .5s;
}

.portfolio__projects li:hover .portfolio__projects__img {
    transform: scale(5.8);
}

.portfolio__projects__img:hover {
    transform: scale(5);
}

.portfolio__projects__overlay {
    background-color: #18171cd6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.portfolio__projects li:hover .portfolio__projects__overlay {
    visibility: visible;
    animation: nameProjectAnimation .5s;
}

@media(min-width: 767px) {
    .portfolio {
        flex-direction: row;
        justify-content: space-between;
    }

    .portfolio__text_about {
        width: 35%;
    }

    .portfolio__text_about__title {
        font-size: 4rem;
    }

    .portfolio__text_about__text {
        font-size: 1.2rem;
    }

    .portfolio__projects {
        width: 65%;
    }
}

@keyframes nameProjectAnimation {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}
