.all_articles {
  margin-bottom: 10rem;
  width: 100%;
}

.gif {
  position: absolute;
  right: 0;
  top: 15%;
  width: 35%;
  max-width: 600px;

  display: none;
}

.gif img {
  width: 100%;
  height: auto;
}

.articles {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.all_articles__input {
  display: flex;
  margin: 4rem 1rem;
}

.all_articles__input input {
  width: 40%;
}

.all_articles__input button {
  background-color: var(--color-backgorund-dark-gray);
  padding: 0 20px;
}

.allArticles__btn_backToTop_display {
  position: fixed;
  right: 10px;
  bottom: 2rem;
  border-radius: 30px;
  background-color: var(--purple);
  padding: 5px;
  animation: animation_btn_backToTop .5s;
}

.allArticles__btn_backToTop_display_none {
  display: none;
}

@media (min-width: 767px) {
  .all_articles {
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .all_articles__input {
    margin-left: 0;
  }

  .allArticles__btn_backToTop_display {
    right: 50px;
    bottom: 5rem;
  }
}

@media (min-width: 1023px) {
  .articles {
    width: 75%;
    max-width: none;
  }
  
  
  .gif {
    display: block;
  }
}

@keyframes animation_btn_backToTop {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes changeBannerAnimation {
  from {
    transform: translate(-200%);
  }
  to {
    transform: translate(0%);
  }
}