.all_articles {
  margin-bottom: 10rem;
  width: 100%;
}

.all_articles__banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 2rem;
  animation: changeBannerAnimation 1s;
}

.banner_display_none {
  display: none;
}

.all_articles__banner__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  min-width: 300px;
  width: max-content;
}

.all_articles__banner__img {
  width: 100%;
  max-width: 500px;
}

.all_articles__input {
  display: flex;
  margin: 4rem 1rem;
}

.all_articles__input input {
  width: 40%;
}

.all_articles__input button {
  background-color: var(--color-backgorund-dark-gray);
  padding: 0 20px;
}

.all_articles__smal_articles {
  margin-left: 1rem;
}

.allArticles__btn_backToTop_display {
  position: fixed;
  right: 10px;
  bottom: 2rem;
  border-radius: 30px;
  background-color: var(--purple);
  padding: 5px;
  animation: animation_btn_backToTop .5s;
}

.allArticles__btn_backToTop_display_none {
  display: none;
}

@media (min-width: 767px) {
  .all_articles {
    width: 90%;
  }

  .all_articles__banner {
    flex-direction: row;
    justify-content: space-around;
  }

  .all_articles__banner__text h2 {
    font-size: 5rem;
  }

  .all_articles__input {
    margin-left: 0;
  }

  .all_articles__smal_articles {
    margin: 0;
  }

  .allArticles__btn_backToTop_display {
    right: 50px;
    bottom: 5rem;
  }
}

@keyframes animation_btn_backToTop {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes changeBannerAnimation {
  from {
    transform: translate(-200%);
  }
  to {
    transform: translate(0%);
  }
}