.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.article__content {
    animation: animaion_bottomToTop .4s;
    padding: 0 1.2rem;
    width: 90%;

}

.article__content__info {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.article__content__info h2 {
    width: 100%;
}

.article__content__info__date {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--gray);
    font-size: .8rem;
}

.article__content__body {
    margin: 4rem 0 4rem;
}

.article__content h3 {
    font-size: 1.8rem;
    margin: 5rem 0 2rem;
}

.article__content p {
    width: 100%;
}


@media(min-width: 767px) {
    .article__img {
        width: 85vw;
    }

    .article__content {
        width: 85%
    }

    .article__content p {
        width: 80%;
    }
}

@keyframes animaion_bottomToTop {
    from {
        transform: translateY(20%);
    }

    to {
        transform: translateY(0);
    }
}