.header {
  margin: 2.5rem 0;
}

.header ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header a {
font-size: 1.1rem;
}

.pageSelectedLink a {
  font-weight: bold;
  color: white;
}